html {
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

header a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 720px;
  margin: 0 auto;
}

h1 {
}
